.archive {
	.epl-clearfix {
    	clear: none !important;
	}
	
	.epl-property-blog {
    	float: left;
    	margin: 0 15px;
    	padding: 0 !important;
    	width: 30.66666%;
    	min-height: 330px;
	}

	.property-box-left {
    	width: 100%;
    	padding-right: 0;
	}

	.property-box-right {
    	width: 100%;
	}

}