body {
	position:relative;
	font-size: $font-default;
	font-family: $primary-font;
	background:$white;
	color: $black;
    line-height: 30px;
    letter-spacing: 1px;
}

.container-fluid {
    padding-right: 8%;
    padding-left: 8%;
}

.container {
	@media (min-width:180px){
		width: 92%;
	}

	@media (min-width:500px){
    	width: 70%;
	}

	@media (min-width:1200px){
		width:1020px;
	}
}

.t-wrap {
	display:table;
	height:100%;
	width:100%;
}

.t-content {
	display:table-cell;
	vertical-align:middle;
}

.hide-sm {
	@media (min-width:180px) {
		display: none;
	}

	@media (min-width:768px) {
		display: block;
	}
}

.show-sm {
	@media (min-width:180px) {
		display: block;
	}

	@media (min-width:768px) {
		display: none;
	}
}

/*Typography*/
a {
	color:$default-blue;
	@include transition(all 0.5s ease);
	
	&:focus, &:hover{
		text-decoration:none;
		color:$medium-blue;
	}
}

h3 {
	line-height: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

input{
	width:100%;
	padding: $form-space-sm;
}

textarea {
	height: 80px;
    width: 100%;
}

.title {
	font-weight:bold;
}

.site-title {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
}

.logo {
	img {
		width: 150px;
    	height: auto;
	}
}

/*Content*/
.content-height {
	height:$section-space-lg;
}

/*Button*/
button, html input[type="button"], input[type="reset"], input[type="submit"], .btn{
	background: transparent;
	color: $default-blue;
	border:1px solid $default-blue;
	font-weight:bold;
	letter-spacing:2.5px;
	text-transform:uppercase;
	@include border-radius(0);
	@include transition(all 0.5s ease);

	&.active, &:active {
    	-webkit-box-shadow: none;
    	box-shadow: none;
	}

	&.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus {
    	outline: 0;
    }

    &:hover {
    	background-color: $medium-blue;
    	border-color: $default-blue;
    	color:$white;
	}
}

/*Tabs*/
.nav-pills>li+li {
    margin-left: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: $medium-blue;
}

/*Social Links*/
.social {
	.btn {
    	width: 35px;
    	height: 35px;
    	padding: 7px 9.5px;
    	@include border-radius(60px);
    	text-align: center;
	}
}

/*Image*/
.img-full {
	width:100%;
}

/*Gallery*/
.su-custom-gallery {
	.su-custom-gallery-slide {
		img {
			padding: 0;
    		border: none;
    		background: transparent;
    		@include border-radius(0px);
		}

		span {
			display:none;
		}
	}	
}
