footer {
	padding: $section-space-lg 0;

	@media (min-width:180px){
		padding: $section-space-md 0;
	}

	.site-title {
		margin-top:0;
	}

	.container {
		@media (min-width:180px){
			width: 92%;
		}

		@media (min-width:500px){
    		width: 70%;
		}

		@media (min-width:1200px){
			width:900px;
		}
	}

	.social {
		li {
		}
	}
}