.home {
    .site-main {
        .title {
            font-weight: normal;
        }
    }
}

#hero-home {
    padding:$section-space-lg 0 $section-space-md;
    
    @media (min-width:100px){
        padding: $section-space-lg + 120 0 $section-space-md + 40;
    }
}

#about {
    background: $white;
    padding: $section-space-lg 0;

    .title {
        line-height: 45px;
        margin-bottom: $section-space-md;
    }

    .nav-pills{
        @media(min-width:180px){
            display: none;
        }

        @media(min-width:1201px){
            display: block;
        }
    }
}

#featured-property {
	position: relative;
    padding: $section-space-lg 0;

    .container {
        position: relative;

        @media (min-width:180px){
            width: 100%;
            padding: 0;
        }

        @media (min-width:874px){
            width: 690px;
        }

        @media (min-width:910px){
            width:87%;
        }

        @media (min-width:1000px){
            width: 690px;
        }

        @media (min-width:1290px){
            width:100%;
        }
    }

    .col-xs-9 {
        @media (min-width:180px){
            width:100%;
        }

        @media (min-width:700px){
            width:75%;         
        }
    }

	h1 {
        &.title {
            margin-top: 0;
        }
    }

	.view-properties {
		@media (min-width:180px){
	    	margin-top: $section-space-xs + 5;
		}

		@media (min-width:687px){
	    	margin-top: 0;
		}		
	}

    .hide-sm {
        @media (min-width:709px){
            display: block;
        }
    }

    .show-sm {
        text-align: center;

        @media (min-width:709px){
            display: none;
        }
    }

    /*Featured Property - Easy Listing*/
    .epl-shortcode-listing-feature {
        .epl-clearfix {
            clear: none !important;
        }
        
        .epl-listing-post {
            
            .property-box {
                float: none;

                .epl-stickers-wrapper {
                    width: auto;
                }

                img {
                    width: 100%;
                    height: 221px;
                }

                .entry-content {
                    display: none;
                }

                .entry-title {
                    margin-top: 10px;
                }
            }

            .property-box-left, .property-box-right {
                width: auto;
                padding:0;
            }
        }
    }

	.bx-viewport {
		z-index:500;
	}

	.bx-controls {
		position: absolute;
    	top: 25%;
    	bottom: 0;
    	width: 100%;
    	left: 0;
    	right: 0;

    	a {
    		font-size: $font-medium;
    		i {
    			color: $black;
    		}
    	}

    	.bx-prev {
    		left: 10%;
    		position: absolute;
            

            @media (min-width:180px){
                display: none;
            }
            
            @media (min-width:518px){
                display: block;
                left:5%;
            }

            @media (min-width:910px){
                left: -30px;
            }

            @media (min-width:1290px){
                left:12px;
            }
    	}

    	.bx-next {
    	   right: 10%;
    	   position: absolute;

            @media (min-width:180px){
                display: none;
            }

            @media (min-width:518px){
                display: block;
                right:5%;
            }

            @media (min-width:910px){
                right: -30px;
            }

            @media (min-width:1290px){
                right:12px;
            }
    	}
	}

    .epl-pagination {
        display: none;
    }
}

#property-alerts {
	background:$default-blue;
    color: $white;
	padding: $section-space-md 0;

    .btn {
        color: #fff;
        border: 1px solid #fff;
    }
}
