.home {
    .site-main {
        .title {
            font-weight: normal;
        }
    }
}

#hero-home {
    @media (min-width:100px){
        padding:$section-space-lg + 20 0 $section-space-md;
        text-align: left;
    }    

    @media (min-width:768px){
        padding:$section-space-lg + 100 0 $section-space-md + 40;
        text-align: center;
    }

    @media (min-width:992px){
        padding:$section-space-lg + 160 0 $section-space-md + 100;
    }

    background-size:cover;

    .title {
        margin-bottom: $section-space-md;
    }

    .epl-search-form {
        @media (min-width:100px){
            display:none;
        }

        @media (min-width:767px){
            display: block;
        }
        
        .epl-search-row-text {
            float: left;
            width: 83%;
        }

        .epl-search-label {
            text-align: center;
        }

        .epl-search-submit {
            margin: 0;
            float: left;
            width: 15%;
            margin-top: 37px;
        }

        .epl-search-btn {
            background:$medium-blue;
            padding:4px;
            color:$white;

            &:hover {
                background:$default-blue;
            }
        }
    }
}

#about {
    background: $white;
    padding: $section-space-lg 0;

    .title {
        line-height: 45px;
        margin-bottom: $section-space-md;
    }

    .nav-pills{
        @media(min-width:180px){
            display: none;
        }

        @media(min-width:1201px){
            display: block;
        }
    }
}

#property-alerts {
	background:$default-blue;
    color: $white;
	padding: $section-space-md 0;

    .btn {
        color: #fff;
        border: 1px solid #fff;
    }
}
