#hero-page {
    padding:$section-space-lg 0 $section-space-md;
    text-align: center;
    line-height: 12px;

    .title {
       	font-size: $font-medium;
        text-transform: uppercase;
    }
}

.content-area {
	background:$grey;
}

.entry-content, .widget-area{
	padding:$section-space-lg 0;
}

.property {
	.entry-content {
    	padding: 0;
		.property-box {
			img {
    			width: 100%;
			}
		}
	}
}

.epl-tab-section {
    margin-top: 0;
}
