#hero-page {
    padding:$section-space-lg + 15 0 $section-space-md;
    text-align: center;
    line-height: 12px;

    .title {
       	font-size: $font-medium;
        text-transform: uppercase;
    }
}

.content-area {
	background:$grey;
}

.entry-content, .widget-area{
	padding:$section-space-lg 0;
}

.epl-tab-section {
    margin-top: 0;
}

.tab-content ul, .tab-content ol {
    padding: 0;
}
