$black: #333;
$white: #fff;
$grey: #F5F1ED;

$default-blue: #26908C;
$medium-blue: #68C8C4;
$light-blue: #98E2DF;

$default-orange: #FFBB85;
$medium-orange: #EC8C3F;
$light-orange: #FFD0AB;

$default-yellow: #FFD585;
$medium-yellow: #ECB23F;
$light-yellow: #FFE3AB;

$primary-font: 'Hind Siliguri', sans-serif;
$secondary-font: 'Kanit', sans-serif;

$font-default: 16px;
$font-large: 50px;
$font-medium: 30px;
$font-small: 12px;

$property-align:center;
$property-weight:bold;

$section-space-lg: 80px;
$section-space-md: 40px;
$section-space-sm: 20px;
$section-space-xs: 10px;

$form-space-sm: 10px 20px;

$title-space: 30px 0 0;

@mixin background-size($bg-size) {
	-webkit-background-size: $bg-size !important; 
 	-moz-background-size: $bg-size !important; 
 	-o-background-size: $bg-size !important; 
 	background-size: $bg-size !important;
}

@mixin transition($effect){
	-webkit-transition:$effect;
	-moz-transition: $effect;
	-ms-transition: $effect;
	-o-transition: $effect;
	transition: $effect;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

